<div class="add-technote">
  <div class="container">
    <div class="add-technote-title"><h1>add one tech note~</h1></div>
    <form (ngSubmit)="addTechNote()">
      <div class="form-group">
        <label for="title">Title:</label>
        <input
          type="text"
          id="title"
          name="title"
          [(ngModel)]="newTechNote.title"
          required
          maxlength="100"
        />
      </div>
      <div class="form-group">
        <label for="topic">Topic:</label>
        <input
          type="text"
          id="topic"
          name="topic"
          [(ngModel)]="newTechNote.topic"
          required
          maxlength="100"
        />
      </div>
      <div class="form-group">
        <label for="content">Content:</label>
        <textarea
          id="content"
          name="content"
          rows="4"
          [(ngModel)]="newTechNote.content"
          required
          (input)="adjustTextarea($event)"
        ></textarea>
      </div>

      <div class="submit-button">
        <button type="submit">Add TechNote</button>
      </div>
    </form>
  </div>
</div>
