.add-technote {
  .container {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .add-technote-title {
    text-align: center;
    font-family: "Concert One", cursive;
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
  }

  input,
  textarea {
    width: 96%; /* Takes full width */
    max-width: 100%; /* Limits to the container width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: auto;
    display: block;
  }

  textarea {
    overflow: auto;
    resize: none; /* prevent manual resize */
  }

  .submit-button {
    text-align: right;
  }

  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }
}
