<div class="techNote-list">
  <div class="techNote-list-container">
    <video autoplay muted loop class="background-video">
      <source
        src="../../../../../../assets/video/SteamBoy.mp4"
        type="video/mp4"
      />
    </video>
    <table class="table">
      <tr class="header-row">
        <th>Title</th>
        <th>
          <button *ngIf="isAdmin" class="add-button" (click)="createTechNote()">
            +
          </button>
        </th>
      </tr>
      <tr *ngFor="let techNote of techNotes" (click)="onRowClicked(techNote)">
        <td>{{ techNote.title }}</td>
        <td>{{ techNote.formattedDate }}</td>
      </tr>
    </table>
  </div>
</div>
