<section class="introduction">
  <div class="introduction-content">
    <h1 class="greeting">{{ currentGreeting }}</h1>

    <h2>Welcome to my labyrinth.</h2>
    <h2>Leave breadcrumbs to</h2>
    <h2>Find your way out!</h2>
    <h2>(Note: This is an ongoing project...)</h2>

    <p>
      Between nerdy notes and whimsical wonders, this is Sheng's digital
      sandbox. Dig around, you might find a gem or two!<br />
      <span
        >--Purely generate by AI, but you get my points, I post random craps
        here...
      </span>
    </p>

    <div class="loading">
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
    </div>
  </div>
  <div class="introduction-image">
    <img
      src="../../../../../../assets/image/home1.jpg"
      alt="Hello and cheers"
    />
  </div>
</section>

<section class="portfolio">
  <div>
    <h1>Press here to portfolio page!!!!</h1>
    <span class="emoji-right">👉</span>
    <a
      href="https://sheng-web.firebaseapp.com/#portfolio"
      target="_blank"
      class="portfolio-button"
      rel="noopener noreferrer"
      >Portfolio</a
    >
    <span class="emoji-left">👈</span>
  </div>
</section>

<section class="portfolio">
  <div>
    <h1>Press here to see my resume!!!!</h1>
    <span class="emoji-right">👉</span>
    <a
      href="../../../../../../assets/resume.pdf"
      target="_blank"
      class="portfolio-button"
      rel="noopener noreferrer"
      >Resume</a
    >
    <span class="emoji-left">👈</span>
  </div>
</section>

<br />
<br />
<section class="me">
  <div class="me-content">
    <h1>About me</h1>
    <p>
      Rooted in a loving and vibrant family, every day is an adventure waiting
      to unfold. Our shared journeys have molded me into not just a traveler,
      but also an explorer of life's many wonders. When I'm not cherishing
      moments with my loved ones or venturing into new horizons, I'm immersed in
      the world of code. As a passionate programmer, I don't just see it as a
      career—it's a calling. Through every line of code, I strive to bring
      visions to life and leave a mark that lasts.
    </p>

    <h3>Education</h3>
    <p>
      My academic journey began in China, dedicating two years to studying
      Chemistry. However, I quickly realized it wasn't my true calling. Seeking
      my passion, I transferred to the University of Utah, diving deep into
      Computer Science with an emphasis on Game Development. Four transformative
      years later, my thirst for knowledge led me to the University of Waterloo.
      There, I earned a master's degree in ECE, focusing on software. Through it
      all, I discovered a burning passion for coding—it was not just a subject,
      but a craft I had come to love. With my education complete, I embarked on
      my professional journey, eager to make my mark.
    </p>

    <h3>Life beyond the screen</h3>
    <p>
      Family is the cornerstone of my life; I hold immense love and gratitude
      for my parents. When I'm not immersed in the world of coding, you'll
      likely find me with a fishing rod in hand or deeply engrossed in a
      captivating video game. And as for the future? A furry, four-legged
      companion is definitely on the horizon. I dream of days filled with
      wagging tails and playful barks.
    </p>

    <div class="and-container">
      <h3>And?</h3>
      <img src="../../../../../../assets/image/and.gif" alt="and?" />
    </div>

    <p>
      Well, that's a wrap on me! As for this website, it's my digital canvas: a
      blend of tech notes, musings, and snippets from life's journey. A heads up
      though: I'm the captain of this ship, so only I get to set the sails (or,
      in simpler terms, post content). But hey, you're more than welcome to join
      the conversation in the comments.
    </p>
    <!-- <p>
      Fancy taking a step further? If you think you truly get me, navigate to
      the challenge section. Nail all the questions, and I might just hand you
      the compass, letting you chart a course with your own posts.
    </p> -->
  </div>
</section>
