<section class="introduction">
  <div class="introduction-content">
    <h1 class="greeting">{{ currentGreeting }}</h1>

    <h2>Welcome to my labyrinth.</h2>
    <h2>Leave breadcrumbs to</h2>
    <h2>Find your way out!</h2>

    <p>
      Between nerdy notes and whimsical wonders, this is Sheng's digital
      sandbox. Dig around, you might find a gem or two!<br />
      <span
        >--Purely generate by AI, but you get my points, I post random craps
        here.
      </span>
    </p>

    <div class="loading">
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
    </div>
  </div>
  <div class="introduction-image">
    <img
      src="../../../../../../assets/image/home1.jpg"
      alt="Hello and cheers"
    />
  </div>
</section>
