.introduction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;

  .introduction-content {
    flex: 1;
    padding: 0 2rem;
    align-items: center; // Centers children horizontally

    h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      font-family: "Raleway", sans-serif;
      font-family: "MuseoModerno", cursive;
      display: flex;
      justify-content: center; /* align horizontally */
      align-items: center; /* align vertically */
    }

    h2 {
      font-size: 2rem;
      color: #b8bad3; // Use a slightly lighter color for the tagline
      margin-bottom: 1.5rem;
      font-family: "Raleway", sans-serif;
      font-family: "MuseoModerno", cursive;
      display: flex;
      justify-content: center; /* align horizontally */
      align-items: center; /* align vertically */
    }

    p {
      font-size: 1.4rem;
      margin-bottom: 2rem;
      line-height: 1.5; // Better readability for blocks of text
      font-family: "Sedgwick Ave Display", cursive;
      justify-content: center; /* align horizontally */
      align-items: center; /* align vertically */
      text-align: center; // This centers the text within the <p> tag

      span {
        color: #6a95c2;
        font-family: "Concert One", cursive;
      }
    }

    .cta-button {
      padding: 0.5rem 1rem;
      background-color: #007bff; // A blue color, adjust as needed
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  }

  $background-color: #333;

  .introduction-image {
    position: relative;
    display: inline-block;
    width: 500px; // Set this to your preferred width
    height: auto; // It scales with the width, maintaining aspect ratio

    img {
      display: block;
      width: 100%; // Image takes full width of its container
      height: auto; // Height scales according to the width, maintaining aspect ratio
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: radial-gradient(circle at center, transparent, #333 80%);
      pointer-events: none;
    }
  }

  .greeting {
    min-height: 65px; // Adjust as needed based on your font size and desired spacing
  }

  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
  }

  .loading {
    display: flex;
    flex-direction: row; // Display waves in a row
    justify-content: center; // Center waves horizontally
    align-items: center; // Center waves vertically
    width: 100%; // Take the full width of its parent
    gap: 10px; // Creates a gap between th

    & .wave {
      width: 5px;
      height: 100px;
      background: linear-gradient(45deg, cyan, #fff);
      margin: 10px;
      animation: wave 1s linear infinite;
      border-radius: 20px;
      align-items: center;

      &:nth-child(2) {
        animation-delay: 0.1s;
      }
      &:nth-child(3) {
        animation-delay: 0.2s;
      }
      &:nth-child(4) {
        animation-delay: 0.3s;
      }
      &:nth-child(5) {
        animation-delay: 0.4s;
      }
      &:nth-child(6) {
        animation-delay: 0.5s;
      }
      &:nth-child(7) {
        animation-delay: 0.6s;
      }
      &:nth-child(8) {
        animation-delay: 0.7s;
      }
      &:nth-child(9) {
        animation-delay: 0.8s;
      }
      &:nth-child(10) {
        animation-delay: 0.9s;
      }
      &:nth-child(10) {
        animation-delay: 0.9s;
      }
      &:nth-child(11) {
        animation-delay: 1s;
      }
      &:nth-child(12) {
        animation-delay: 1.1s;
      }
      &:nth-child(13) {
        animation-delay: 1.2s;
      }
      &:nth-child(14) {
        animation-delay: 1.3s;
      }
      &:nth-child(15) {
        animation-delay: 1.4s;
      }
    }
  }

  @keyframes wave {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
}

.me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center; // Center waves horizontally

  .and-container {
    display: flex; // Use Flexbox
    align-items: center; // Vertically center the content
    justify-content: center; // Center waves horizontally

    h2 {
      margin-right: 10px; // Adds some space to the right of the title
    }

    img {
      max-width: 50px; // Or whatever size you prefer for the GIF
      height: auto; // Maintain aspect ratio
    }
  }

  .me-content {
    flex: 1;
    padding: 0 2rem;
    align-items: center; // Centers children horizontally
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: "Raleway", sans-serif;
    font-family: "MuseoModerno", cursive;
    display: flex;
    justify-content: center; /* align horizontally */
    align-items: center; /* align vertically */
  }

  h3 {
    font-size: 2rem;
    color: #b8bad3; // Use a slightly lighter color for the tagline
    margin-bottom: 1.5rem;
    font-family: "Raleway", sans-serif;
    font-family: "MuseoModerno", cursive;
    display: flex;
    justify-content: center; /* align horizontally */
    align-items: center; /* align vertically */
  }

  p {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    line-height: 1.5; // Better readability for blocks of text
    font-family: "Concert One", cursive;
    justify-content: center; /* align horizontally */
    align-items: center; /* align vertically */
    text-align: center; // This centers the text within the <p> tag

    span {
      color: #6a95c2;
      font-family: "Concert One", cursive;
    }
  }
}
