<div class="journey">
  <!-- journey container contents -->
  <div *ngIf="journey">
    <div class="title">
      <h1>{{ journey.title }}</h1>
    </div>
    <div class="content">
      <p>{{ journey.content }}</p>
    </div>
    <div class="date">
      <p>Date: {{ journey.formattedDate }}</p>
    </div>
    <div class="button-container">
      <div class="goback_button">
        <button (click)="goBack()">Go Back</button>
      </div>
      <div class="delete-button">
        <button *ngIf="isAdmin" (click)="deleteJourney()">Delete This</button>
      </div>
    </div>
  </div>

  <!-- comment container -->
  <div class="comment-container">
    <h3>Add a Comment:</h3>
    <form (submit)="addOneComment()">
      <textarea [(ngModel)]="newComment" name="newComment"></textarea>
      <div class="button-wrapper">
        <button type="submit">Add Comment</button>
      </div>
    </form>

    <div class="comment-section">
      <div class="comment-container" *ngFor="let comment of comments">
        <p>{{ comment.ownerName }}</p>
        <p>{{ comment.formattedDate }}</p>
        <p>{{ comment.content }}</p>
      </div>
    </div>
  </div>
</div>
