.header {
  display: flex;
  justify-content: space-between; // Positions items on both ends of the container
  align-items: center; // Vertically centers items
  background-color: transparent;
  padding: 1rem 2rem;

  .logo-container {
    display: flex; // To align the logo and website name horizontally
    align-items: center; // Vertically align the logo and website name

    .logo {
      width: 50px; // Adjust the width as needed
      height: auto; // Maintains the aspect ratio of the logo
      margin-right: 10px; // Spacing between the logo and website name
    }

    .website-name {
      color: white;
      font-size: 1.6rem;
      font-weight: bold;
      font-family: "Raleway", sans-serif;
      font-family: "Sacramento", cursive;
    }
  }
  .login-button {
    background-color: #707070; // A blue color, adjust as needed
    color: white;
    border: none;
    font-size: 1.2rem; // Increase font size
    font-family: "Raleway", sans-serif;
    font-family: "MuseoModerno", cursive;

    padding: 0.5rem 1rem; // Adjust padding as needed
    border-radius: 4px; // Gives rounded corners
    cursor: pointer; // Changes mouse cursor on hover

    &:hover {
      background-color: #969595; // A darker blue for hover effect
    }
  }
}
