<div class="experience-container">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic"
    rel="stylesheet"
    type="text/css"
  />
  <ul class="timeline">
    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">Cynorix Inc.</span>
          <span class="time-wrapper"
            ><span class="time">Oct 2022 - present</span></span
          >
        </div>
        <div class="desc">
          Full Stack Engineer
          <ul>
            <li>
              In a technical role, spearheaded the development of an
              enterprise-grade, secure file-sharing platform. Utilized React for
              front-end,
              <strong style="color: rgb(0, 120, 189)">NodeJS</strong> and
              <strong style="color: rgb(0, 120, 189)">Express</strong>
              for back-end, and
              <strong style="color: rgb(0, 120, 189)">MongoDB/Firestore</strong>
              for data storage. Implemented advanced
              <strong style="color: rgb(0, 120, 189)">encryption</strong>
              algorithms,
              <strong style="color: rgb(0, 120, 189)">Firebase Auth</strong> for
              user authentication, and
              <strong style="color: rgb(0, 120, 189)">Stripe</strong> for
              payment integration
            </li>
            <li>
              Designed and developed an
              <strong style="color: rgb(0, 120, 189)"
                >iOS 2FA application</strong
              >
              using <strong style="color: rgb(0, 120, 189)">Swift</strong>,
              emphasizing user experience and data privacy through advanced
              encryption techniques
            </li>
            <li>
              Collaborated with a cross-functional team to co-design a robust
              <strong style="color: rgb(0, 120, 189)">SAML-based</strong> 2FA
              software architecture
            </li>
            <li>
              Established and optimized a
              <strong style="color: rgb(0, 120, 189)">CI/CD</strong> pipeline
              using industry benchmarks, ensuring a seamless transition to
              production for a React-based front-end and a NodeJS-based back-end
            </li>
            <li>
              Directed a co-op team using
              <strong style="color: rgb(0, 120, 189)">Agile</strong>
              methodologies, crafting roadmaps and sprint plans with a focus on
              timely delivery of a quality product milestone
            </li>
          </ul>
        </div>
      </div>
    </li>

    <li>
      <div class="direction-l">
        <div class="flag-wrapper">
          <span class="flag">University of Waterloo</span>
          <span class="time-wrapper"
            ><span class="time">Sep 2021 - Dec 2022</span></span
          >
        </div>
        <div class="desc">
          Master's in Electrical & Computer Engineering with specialization in
          Software
        </div>
      </div>
    </li>

    <!-- Item 3 -->
    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">University of Utah</span>
          <span class="time-wrapper"
            ><span class="time">May 2017 - May 2021</span></span
          >
        </div>
        <div class="desc">
          Bachelor's in Computer Science in Game Development Emphasis with Math
          Minor
        </div>
      </div>
    </li>
  </ul>
</div>
