<div class="thought">
  <!-- thought container contents -->
  <div *ngIf="thought">
    <div class="title">
      <h1>{{ thought.title }}</h1>
    </div>
    <div class="content">
      <p>{{ thought.content }}</p>
    </div>
    <div class="date">
      <p>Date: {{ thought.formattedDate }}</p>
    </div>
    <div class="button-container">
      <div class="goback_button">
        <button (click)="goBack()">Go Back</button>
      </div>
      <div class="delete-button">
        <button *ngIf="isAdmin" (click)="deleteThought()">Delete This</button>
      </div>
    </div>
  </div>

  <!-- comment container -->
  <div class="comment-container">
    <h3>Add a Comment:</h3>
    <form (submit)="addOneComment()">
      <textarea [(ngModel)]="newComment" name="newComment"></textarea>
      <button type="submit">Add Comment</button>
    </form>
  </div>
</div>
