.thought {
  .title {
    text-align: center;
    font-family: "Concert One", cursive;
  }
  .content {
    text-align: left;
    font-family: "Concert One", cursive;
  }
  .date {
    text-align: right;
    font-family: "Concert One", cursive;
  }
}
