<div class="project-list">
  <div class="project-list-container">
    <div class="project-section">
      <h2>Career Highlights</h2>
      <div class="work-project-container">
        <div *ngFor="let project of workingProjects" class="project">
          <a [routerLink]="['/projects', project.Id]">
            <img [src]="project.ImageUrl" alt="{{ project.Title }}" />
            <p>{{ project.Title }}</p>
          </a>
        </div>
      </div>

      <h2>Side Projects</h2>
      <div class="side-project-container">
        <div *ngFor="let project of sideProjects" class="project">
          <a [routerLink]="['/projects', project.Id]">
            <img [src]="project.ImageUrl" alt="{{ project.Title }}" />
            <p>{{ project.Title }}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
