.contact-page {
  background-image: url("../../../../../../assets/image/bloodcode.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  font-family: "Raleway", sans-serif;
}

.contact-container {
  width: 60%;
  height: 82vh;
  margin: auto;
  background-color: rgb(133, 133, 133, 0.5);
  position: relative; /* Add this */
  z-index: 0;
  display: flex; /* Add this line */
  justify-content: center; /* Add this line */
  align-items: center; /* Add this line */
}

.contact-box {
  display: flex;
  width: 70%;
  height: 70%;
  background-color: rgba(255, 134, 134, 0.5);
  flex-direction: column; /* Adjust: Set flex-direction to column */
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.column {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  flex: 1;
}

.contact-font {
  font-family: "Raleway", sans-serif;
  margin-bottom: 10px;
  font-weight: bold;
}

label {
  display: inline-block;
  // font-family: "Raleway", sans-serif;
  // margin-bottom: 10px;
  // font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px; /* Add this to round the corners */
}

textarea {
  height: 100px;
}

button {
  padding: 10px;
  background-color: blue;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: darkblue;
  }
}
